---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ahorner/advent-of-code/contents/lib/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a41ceafc07632f1576b2051f2a569b64a7cbaf01"
      last-modified:
      - Tue, 24 Dec 2024 17:59:46 GMT
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4930'
      x-ratelimit-reset:
      - '1742095124'
      x-ratelimit-used:
      - '70'
      x-ratelimit-resource:
      - core
    body:
      encoding: UTF-8
      string: '[{"name":"01.rb","path":"lib/2023/01.rb","sha":"097a77650c5f625bd271957d2cdf0d8325d3396b","size":798,"url":"https://api.github.com/repos/ahorner/advent-of-code/contents/lib/2023/01.rb?ref=main","html_url":"https://github.com/ahorner/advent-of-code/blob/main/lib/2023/01.rb","git_url":"https://api.github.com/repos/ahorner/advent-of-code/git/blobs/097a77650c5f625bd271957d2cdf0d8325d3396b","download_url":"https://raw.githubusercontent.com/ahorner/advent-of-code/main/lib/2023/01.rb","type":"file","_links":{"self":"https://api.github.com/repos/ahorner/advent-of-code/contents/lib/2023/01.rb?ref=main","git":"https://api.github.com/repos/ahorner/advent-of-code/git/blobs/097a77650c5f625bd271957d2cdf0d8325d3396b","html":"https://github.com/ahorner/advent-of-code/blob/main/lib/2023/01.rb"}},{"name":"02.rb","path":"lib/2023/02.rb","sha":"e2754428f979c988df4a6ba2cdde8690b6aad1f4","size":969,"url":"https://api.github.com/repos/ahorner/advent-of-code/contents/lib/2023/02.rb?ref=main","html_url":"https://github.com/ahorner/advent-of-code/blob/main/lib/2023/02.rb","git_url":"https://api.github.com/repos/ahorner/advent-of-code/git/blobs/e2754428f979c988df4a6ba2cdde8690b6aad1f4","download_url":"https://raw.githubusercon[...]
- request:
    method: get
    uri: https://api.github.com/repos/eregon/adventofcode/contents/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6cbfca6467379f8b4dc86b801ccbb0512205c5fe"
      last-modified:
      - Sun, 05 Jan 2025 16:25:46 GMT
      x-oauth-scopes:
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/erikw/advent-of-code-solutions/contents/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"24daa03772d81611da25ef15bb91ad4e6d171d52"
      last-modified:
      - Thu, 13 Mar 2025 04:04:03 GMT
      x-oauth-[...]
- request:
    method: get
    uri: https://api.github.com/repos/erikw/advent-of-code-solutions/contents/2023/01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"24daa03772d81611da25ef15bb91ad4e6d171d52"
      last-modified:
      - Thu, 13 Mar 2025 04:04:03 GMT
      x-oau[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/erikw/advent-of-code-solutions/contents/2023/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4918'
      x-ratelimit-reset:
      - '1742095124'
      x-ratelimit-used:
      - '82'
      x-ratelimit-resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/contents#get-repository-content","status":"404"}'
  recorded_at: Sun, 16 Mar 2025 02:36:23 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/gchan/advent-of-code-ruby/contents/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"47de7c651b56bfff8068040fb9af4f15ec7ce17e"
      last-modified:
      - Fri, 14 Feb 2025 07:35:16 GMT
      x-oauth-scope[...]
- request:
    method: get
    uri: https://api.github.com/repos/ZogStriP/adventofcode-old/contents/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8d3d2fd8886f4e1a24cf6654f2afee695e71e1bd"
      last-modified:
      - Fri, 22 Nov 2024 11:18:02 GMT
      x-oauth-scope[...]
