---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ahorner/advent-of-code/contents/lib/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a41ceafc07632f1576b2051f2a569b64a7cbaf01"
      last-modified:
      - Tue, 24 Dec 2024 17:59:46 GMT
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '1742095124'
      x-ratelimit-used:
      - '15'
      x-ratelimit-resource:
      - core
    body:
      encoding: UTF-8
      string: '[{"name":"01.rb","path":"lib/2023/01.rb","sha":"097a77650c5f625bd271957d2cdf0d8325d3396b","size":798,"url":"https://api.github.com/repos/ahorner/advent-of-code/contents/lib/2023/01.rb?ref=main","html_url":"https://github.com/ahorner/advent-of-code/blob/main/lib/2023/01.rb","git_url":"https://api.github.com/repos/ahorner/advent-of-code/git/blobs/097a77650c5f625bd271957d2cdf0d8325d3396b","download_url":"https://raw.githubusercontent.com/ahorner/advent-of-code/main/lib/2023/01.rb","type":"file","_links":{"self":"https://api.github.com/repos/ahorner/advent-of-code/contents/lib/2023/01.rb?ref=main","git":"https://api.github.com/repos/ahorner/advent-of-code/git/blobs/097a77650c5f625bd271957d2cdf0d8325d3396b","html":"https://github.com/ahorner/advent-of-code/blob/main/lib/2023/01.rb"}},{"name":"02.rb","path":"lib/2023/02.rb","sha":"e2754428f979c988df4a6ba2cdde8690b6aad1f4","size":969,"url":"https://api.github.com/repos/ahorner/advent-of-code/contents/lib/2023/02.rb?ref=main","html_url":"https://github.com/ahorner/advent-of-code/blob/main/lib/2023/02.rb","git_url":"https://api.github.com/repos/ahorner/advent-of-code/git/blobs/e2754428f979c988df4a6ba2cdde8690b6aad1f4","download_url":"https://raw.githubusercon[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ahorner/advent-of-code/main/lib/2023/01.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"13dcdd901789711455be30e2c656134fde4f79a6b8b6f88cd51bd457bd9df2ab"
      x-fastly-request-id:
      - eb6c49b5a8535047a914ef911c638fcc490f7134
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        LINES = INPUT.split("\n").freeze

        sum = LINES.reduce(0) do |total, line|
          numbers = line.scan(/\d/)
          value = numbers.first.to_i * 10 + numbers.last.to_i

          total + value
        end

        solve!("The sum of calibration values is:", sum)

        REPLACEMENTS = {
          "one" => 1,
          "two" => 2,
          "three" => 3,
          "four" => 4,
          "five" => 5,
          "six" => 6,
          "seven" => 7,
          "eight" => 8,
          "nine" => 9
        }.freeze

        sum = LINES.reduce(0) do |total, line|
          numbers = line.chars.each_with_index.each_with_object([]) do |(c, i), digits|
            translated = line[i..].sub(Regexp.union(REPLACEMENTS.keys), REPLACEMENTS)
            digits << translated[0] if translated[0] =~ /\d/
          end.map(&:to_i)

          value = numbers.first.to_i * 10 + numbers.last.to_i
          total + value
        end

        solve!("The sum of calibration values with word digits is:", sum)
  recorded_at: Sun, 16 Mar 2025 02:35:33 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/ahorner/advent-of-code/main/lib/2023/02.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"2a4ffdf8193ac42fa4809d617a21bcf7c1d51da01e457137a3bac58e64d8003a"
      x-fastly-request-id:
      - 29096c4a1705ec99afda8d994c5addc3d062c96d
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        GAME_MATCHER = /\AGame (?<id>\d+): (?<hands>.+)\z/
        HOLD_MATCHER = /(?<count>\d+) (?<color>\w+)/
        COLORS = %i[red green blue].freeze

        Game = Data.define(:id, :hands) do
          def possible?(test)
            hands.all? do |hand|
              COLORS.all? { |color| hand[color] <= test[color] }
            end
          end

          def power
            COLORS.map { |color| hands.map { |h| h[color] }.max }.reduce(:*)
          end
        end

        GAMES = INPUT.split("\n").map do |line|
          data = line.match(GAME_MATCHER)
          id = data[:id].to_i
          hands = data[:hands].split(";").map do |hand|
            hand.split(",").each_with_object(Hash.new(0)) do |item, colors|
              hold = item.match(HOLD_MATCHER)
              colors[hold[:color].to_sym] = hold[:count].to_i
            end
          end

          Game.new(id:, hands:)
        end.freeze

        TEST = {red: 12, green: 13, blue: 14}.freeze
        possibilities = GAMES.select { |g| g.possible?(TEST) }

        solve!("The sum of possible game IDs is:", possibilities.sum(&:id))
        solve!("The total set power across games is:", GAMES.sum(&:power))
  recorded_at: Sun, 16 Mar 2025 02:35:33 GMT
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ahorner/advent-of-code/main/lib/2023/04.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"f49fbe99b71e367116b2cab9093393f519d863683d16173d7bd46e057c9daf08"
      x-fastly-request-id:
      - 6d840acf00d10250812890052739279a415f42cf
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Card = Data.define(:id, :winning_numbers, :personal_numbers) do
          def matches
            (winning_numbers & personal_numbers).count
          end

          def score
            (matches > 0) ? (matches - 1).times.reduce(1) { |i, _| i * 2 } : 0
          end
        end

        CARDS = INPUT.split("\n").map do |line|
          identifier, numbers = line.split(":")
          winning, personal = numbers.split("|")

          Card.new(
            id: identifier.scan(/\d+/).first.to_i,
            winning_numbers: winning.scan(/\d+/).map(&:to_i),
            personal_numbers: personal.scan(/\d+/).map(&:to_i)
          )
        end

        solve!("The total point value of your cards is:", CARDS.sum(&:score))

        def winnings(cards)
          counts = cards.to_h { |card| [card.id, 1] }
          cards.each do |card|
            card.matches.times do |i|
              counts[card.id + i + 1] += counts[card.id]
            end
          end

          counts.values.sum
        end

        solve!("The total number of cards in the pile (including copies) is:", winnings(CARDS))
  recorded_at: Sun, 16 Mar 2025 02:35:33 GMT
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ahorner/advent-of-code/main/lib/2023/08.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"09c2e12e6026a41dafd210994087f5334a32f704700352ed48a80c0681ee4ac5"
      x-fastly-request-id:
      - bb38d51caf38587f8ad97fbce98aa32866b2eb93
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        instructions, nodes = INPUT.split("\n\n")

        NODE_MATCHER = /\A(?<id>.+) = \((?<left>.+), (?<right>.+)\)\z/
        INSTRUCTIONS = instructions.chars
        NETWORK = nodes.split("\n").to_h do |node|
          data = node.match(NODE_MATCHER)

          [data[:id], [data[:left], data[:right]]]
        end

        steps = 0
        node = "AAA"

        steps = loop do
          step = (INSTRUCTIONS[steps % INSTRUCTIONS.count] == "L") ? 0 : 1
          node = NETWORK[node][step]
          steps += 1

          break steps if node == "ZZZ"
        end

        solve!("The number of steps required to escape is:", steps)

        steps = 0
        nodes = NETWORK.keys.select { |node| node.end_with?("A") }
        checkpoints = Array.new(nodes.length)
        periods = Array.new(nodes.length)

        steps = loop do
          step = (INSTRUCTIONS[steps % INSTRUCTIONS.count] == "L") ? 0 : 1
          nodes = nodes.map { |node| NETWORK[node][step] }
          steps += 1

          nodes.each_with_index do |n, i|
            next unless periods[i].nil? && n.end_with?("Z")

            if checkpoints[i] && periods[i].nil?
              periods[i] = steps - checkpoints[i]
            elsif checkpoints[i].nil?
              checkpoints[i] = steps
            end
          end

          break periods.reduce(&:lcm) if periods.all?
        end

        solve!("The number of steps required for a ghost to escape is:", steps)
  recorded_at: Sun, 16 Mar 2025 02:35:34 GMT
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ahorner/advent-of-code/main/lib/2023/12.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"29b9d9916a2b177042995b04ee2017485a3e5a2ef0bbd6c08f4b5f7e46c94eeb"
      x-fastly-request-id:
      - db7695f5111fc452fd24c454aaee24852420c7ba
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        class Spring
          FOLDING_FACTOR = 5
          CONDITIONS = {
            operational: ".",
            damaged: "#",
            unknown: "?"
          }.freeze

          def initialize(record:, damage:)
            @record = record
            @damage = damage
            @arrangements = {}
          end

          def unfold(factor: FOLDING_FACTOR)
            record = ([@record] * factor).join(CONDITIONS[:unknown])
            damage = @damage * factor

            Spring.new(record:, damage:)
          end

          def arrangements(pattern = @record, splits = @damage)
            return @arrangements[[pattern, splits]] if [...]
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ahorner/advent-of-code/main/lib/2023/19.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"86744d0b241af3c0d8f94b9e7289972ee728ee7574f6ef80c4c0ca0278fa85a9"
      x-fastly-request-id:
      - e49172b45fd05ff83462249b27199a7e8051d825
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        WORKFLOW_MATCHER = /\A(?<name>\w+)\{(?<rules>.+)\}\z/
        RULE_MATCHER = /\A(?<rating>\w)(?<operation><|>)(?<value>\d+):(?<output>\w+)\z/
        RATING_MATCHER = /\A(?<rating>\w)=(?<value>\d+)\z/

        ACCEPTANCE_FLOW = "A"
        REJECTION_FLOW = "R"
        STARTING_FLOW = "in"

        Rule = Data.define(:rating, :operation, :value, :output) do
          def passes?(part)
            (operation == "<") ? part[rating] < value : part[rating] > value
          end

          def partition(ratings)
            passed = ratings.dup
            failed = ratings.dup
            range = ratings[rating]

            passed[[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/eregon/adventofcode/contents/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6cbfca6467379f8b4dc86b801ccbb0512205c5fe"
      last-modified:
      - Sun, 05 Jan 2025 16:25:46 GMT
      x-oauth-scopes:
   [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/eregon/adventofcode/master/2023/1a.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"4179fe95a98bd39be90ef503abe589d4dc6ad6269736c5a5d2e6dbd79cf9f5eb"
      x-fastly-request-id:
      - 823fc98f890b4c59a49ee516271be41036463fdb
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: 'p File.readlines(''1.txt'').sum { /(\d)(?:.*(\d))?/ =~ _1 and ($1 +
        ($2 || $1)).to_i }

        '
  recorded_at: Sun, 16 Mar 2025 02:35:38 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/eregon/adventofcode/master/2023/1a_golf.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"e8527aee14b9dd601b2716f6c87e4da981e386a7a18ed72f31b97eff1561c7d1"
      x-fastly-request-id:
      - 6dcc383165db388d93e251640dbbfe2456d69e0a
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: p$<.sum{_1[/(\d)(.*(\d))?/]&&($1+($3||$1)).to_i}
  recorded_at: Sun, 16 Mar 2025 02:35:38 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/eregon/adventofcode/master/2023/1b.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"14266ec9d574ad0d80efa930e9e9055993ff7c0aeab5a4f669a32d6153a9c807"
      x-fastly-request-id:
      - 9dee5df85ad30208fe670cb24ec7393eba92858a
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        digits = (%w[one two three four five six seven eight nine].zip(1..9) + ('0'..'9').zip(0..9)).to_h
        digit = digits.keys.join '|'
        p File.readlines('1.txt').sum { /(#{digit})(?:.*(#{digit}))?/o =~ _1 and digits[$1] * 10 + digits[$2 || $1] }
  recorded_at: Sun, 16 Mar 2025 02:35:39 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/eregon/adventofcode/master/2023/1b_golf.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"c4c247365f1bf459caa169c8af764c7ad5c4ef4603c72425b6dc363b6f96a244"
      x-fastly-request-id:
      - 7a4412c51d6af04d7a547455f0542b18a10e61d9
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        a=[*?0..?9,*%w[0 one two three four five six seven eight nine]].zip([*0..9]*2).to_h
        d=[*a]*?|
        p$<.sum{_1[/(#{d})(.*(#{d}))?/]&&a[$1]*10+a[$3||$1]}
  recorded_at: Sun, 16 Mar 2025 02:35:39 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/eregon/adventofcode/master/2023/1b_golf2.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"85f5c6539bcb02a44846fd35223d8892109a967fca68bcfe4dd4c0f65ba8dd74"
      x-fastly-request-id:
      - d0d1d2a9dfdeedd1fbc0bc8ce223ed16055bfaec
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        a=[*?0..?9]+%w[0 one two three four five six seven eight nine]
        p$<.sum{_1[/(#{a*?|})(.*(#{a*?|}))?/]&&a.index($1)%10*10+a.index($3||$1)%10}
  recorded_at: Sun, 16 Mar 2025 02:35:39 GMT
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/eregon/adventofcode/master/2023/3a_golf2.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"5e2bdafacef382da0eadcda82cfbfcee915ecebe5af9bc4baae1a2d08dc4f0a3"
      x-fastly-request-id:
      - 7ed0c49352981a0e6d18a56df3fe1aa9b753abe3
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        s=$<.read
        w=(s=~/$/)+1
        s.scan(/\d+/){|n|$.+=n.to_i if Range.new(*$~.offset(0),1).any?{|i|[i-w,i,i+w].any?{(s[_1-1,3]if _1>0)=~/[^\d\s.]/}}}
        p $.
  recorded_at: Sun, 16 Mar 2025 02:35:40 GMT
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/eregon/adventofcode/master/2023/5b2.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"e6f6ea110b4e480f1c9f4bfd74e4cd9312969f20106a5d19b50bf3948ad18f31"
      x-fastly-request-id:
      - 68a6b51718b1c1e311fe363a43eb2530a6a1ee03
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        seeds, *maps = $<.read.split("\n\n")
        seeds = seeds[/:(.+)/, 1].split.map { Integer _1 }
        seeds = seeds.each_slice(2).flat_map { (_1.._1+_2-1) }.sort_by(&:begin)

        reversed_maps = maps.map { |map|
          map.lines[1..].map { |line|
            dest, src, len = line.split.map { Integer _1 }
            [(dest...dest+len), src - dest]
          }.sort_by { _1[0].begin }.to_h
        }.reverse

        p (0..).find { |n|
          p n if n % 100_000 == 0
          r = reversed_maps.reduce(n) { |v, map|
            range = map.keys.find { |range| break if range.begin > v; range === v }
            if range
              map[range] + v
            else
              v
            end
          }
          seeds.any? { |seed| seed.include?(r) }
        }
  recorded_at: Sun, 16 Mar 2025 02:35:43 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/erikw/advent-of-code-solutions/contents/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"24daa03772d81611da25ef15bb91ad4e6d171d52"
      last-modified:
      - Thu, 13 Mar 2025 04:04:03 GMT
      x-oauth-[...]
- request:
    method: get
    uri: https://api.github.com/repos/erikw/advent-of-code-solutions/contents/2023/01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"24daa03772d81611da25ef15bb91ad4e6d171d52"
      last-modified:
      - Thu, 13 Mar 2025 04:04:03 GMT
      x-oau[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/erikw/advent-of-code-solutions/contents/2023/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-oauth-scopes:
      - repo
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4973'
      x-ratelimit-reset:
      - '1742095124'
      x-ratelimit-used:
      - '27'
      x-ratelimit-resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/repos/contents#get-repository-content","status":"404"}'
  recorded_at: Sun, 16 Mar 2025 02:35:50 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/gchan/advent-of-code-ruby/contents/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"47de7c651b56bfff8068040fb9af4f15ec7ce17e"
      last-modified:
      - Fri, 14 Feb 2025 07:35:16 GMT
      x-oauth-scope[...]
- request:
    method: get
    uri: https://api.github.com/repos/gchan/advent-of-code-ruby/contents/2023/day-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"47de7c651b56bfff8068040fb9af4f15ec7ce17e"
      last-modified:
      - Fri, 14 Feb 2025 07:35:16 GMT
      x-oaut[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/gchan/advent-of-code-ruby/main/2023/day-01/day-01-part-1.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"1a09d9ca0e74d38356e7167d22b55a6aaeded6ddc41374234af6af1f8141060a"
      x-fastly-request-id:
      - 4fe2a167a95f0c1ffeadca93cd892ecf62b1d684
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        #!/usr/bin/env ruby

        file_path = File.expand_path("../day-01-input.txt", __FILE__)
        input     = File.read(file_path)

        input
          .split("\n")
          .sum { _1.scan(/\d/).values_at(0, -1).join.to_i }
          .tap { puts _1 }
  recorded_at: Sun, 16 Mar 2025 02:35:54 GMT
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/gchan/advent-of-code-ruby/main/2023/day-17/day-17-part-1-and-2.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"d437b059219cc38b1b3d953bad7915431baa35871c98017b81c113006f1a37ff"
      x-fastly-request-id:
      - 2e1c0e7c5e48c1b5cc231ac6af663d99740548cf
      sou[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ZogStriP/adventofcode-old/contents/2023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token stubbed_github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8d3d2fd8886f4e1a24cf6654f2afee695e71e1bd"
      last-modified:
      - Fri, 22 Nov 2024 11:18:02 GMT
      x-oauth-scope[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/01_trebuchet.rb?token=ACG6TJ2R4K3V6JPYSWO2P53H2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"0088c48c5825590029f6313de5678b1afcee5951b7c21c8a05802019859a3c2a"
      x-fastly-request-id:
      - 24ce3e9c48e26cc2082fb84f38[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/02_cube_conundrum.rb?token=ACG6TJ3ALVJWAGYP2BINUGLH2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"b3367109bb6a7d167b44005db0c159664b46e6167b65846b5ac8fa7ce42e7a87"
      x-fastly-request-id:
      - 04dfd450d00a751f074b0[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/03_gear_ratios.rb?token=ACG6TJZ65Y3RRH5KAZRXGXTH2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"234bcde3cd931912244692198ff96171058aa2572306d0291c48da5fd9b76cbd"
      x-fastly-request-id:
      - 7325b2e687e7a4bef62d337c[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/04_scratchcards.rb?token=ACG6TJ2BWSIDUO2XCIXT2LDH2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"97bf659e8dccf9757c283e88cbc1c096065218f6d2ff06501712cb27dcf182ff"
      x-fastly-request-id:
      - 7d6d61f625819b92f5406bf[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/05_if_you_give_a_seed_a_fertilizer.rb?token=ACG6TJ5FJVHFICRBBM73ULTH2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"6fbdc46d1b0e472eb35e79e48f7da9dcc4b0fc73f99637e1e9734cc7c3519237"
      x-fastly-request-id:
      - 40b5[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/06_wait_for_it.rb?token=ACG6TJ5O5NQT77ANUBIXXJTH2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"09203ff9a937326456aca788d7853145177bf60ff5ab9d4a29e7056bd6b0fd9d"
      x-fastly-request-id:
      - 80628b37ef2bf1ea97e5f5a6b2b5cb5fe842969e
      source-age:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        times, distances = DATA.map { _1.split[1..].map &:to_i }

        p times.size.times.map { |i| (1...times[i]).count { _1 * (times[i] - _1) > distances[i] } }.reduce :*

        time, distance = [times, distances].map { _1.join.to_i }

        p (1..time).count { _1 * (time - _1) > distance }

        __END__
        Time:        56     71     79     99
        Distance:   334   1135   1350   2430
  recorded_at: Sun, 16 Mar 2025 02:36:11 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/07_camel_cards.rb?token=ACG6TJ6AWLXKCDLFYPBR2K3H2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"d79536aedbceb7c29b903364ffaee7600ac73c25f502de8a42bb28f4d35c1166"
      x-fastly-request-id:
      - b006ca5675ad9dd39d63026e[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/08_haunted_wasteland.rb?token=ACG6TJ6N6LJRMZIODG3HZQTH2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"629dcdd40cef162c5aa9fd1c60771a009092c8012a8da31d0c92fdf7cf56f878"
      x-fastly-request-id:
      - 1e05d76c5db0fc1aea[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/09_mirage_maintenance.rb?token=ACG6TJYNOGJBLXY67RQTYM3H2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"2f32d50f9427a61ceaf5d0e2c4aa03f9e470a62be115ba67ac6a318b8ec754f1"
      x-fastly-request-id:
      - f12d5ba86d776f258[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/10_pipe_maze.rb?token=ACG6TJ4UKBK3MHY4NQIH7K3H2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"662bd584b588cea51fa02d2fdbfdc8def5c7b0f4600601a69ad6543c8ea40a07"
      x-fastly-request-id:
      - ef5aa379bd1ff9916e03a39f45[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/11_cosmic_expansion.rb?token=ACG6TJ2NRMAYEDKXQWY2JZTH2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"e8bc586eaff52d955c7349f7eafb54f8a62f14e9efab9e4e2f3493c233cef62e"
      x-fastly-request-id:
      - dc0c0d543cdc8f65e34[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/12_hot_springs.rb?token=ACG6TJ5YPIKGBWBOIFOZNUDH2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"12508525081d39ee619ed3de57625a15429459737d76032e0ba987c60616b17d"
      x-fastly-request-id:
      - 79dcd5282e26040ed71c4d4c[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/ZogStriP/adventofcode-old/master/2023/13_point_of_incidence.rb?token=ACG6TJYJJBHIZ6CLY4Y7FA3H2Y4VK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
[...]
