---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&username=fpsvogel&password=stubbed_reddit_password
    headers:
      Authorization:
      - Basic Ukpwcjc0Zjl6TFBXQzNjcUVCLXFsdzpGQm5kLWdnR2JrWF9na1RRVVIxV2hGeFo1emRRNkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant"}'
  recorded_at: Sat, 08 Mar 2025 22:04:33 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/adventofcode/comments/1h3vp6n/2024_day_1_solutions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '3'
      x-ratelimit-remaining:
      - '97.0'
      x-ratelimit-reset:
      - '326'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "adventofcode", "selftext": "It''s that time of year again
        for ~~tearing your hair out over your code~~ holiday programming joy and ~~aberrant
        sleep for an entire month~~ helping Santa and his elves!  If you participated
        in a previous year, welcome back, and if you''re new this year, we hope you
        have fun and learn lots!\n\nAs always, we''re following the same general format
        as previous years'' megathreads, so make sure to read the full posting rules
        in our community wiki bef[...]
[...]
- request:
    method: post
    uri: https://oauth.reddit.com/api/morechildren.json
    body:
      encoding: UTF-8
      string: link_id=t3_1h3vp6n&children=lzzhi6n,lzz88li,lzz7ev4,lzzdouv,lzyoaka,lzyhf3h,lzyopak,lzyy37i,lzz8yjs,lzz1zdd,lzyioa0,lzy3fj9,lzyas3y,lzy4wiu,lzyj0c0,lzy3w4z,lzyoxpn,lzywm0a,lzz7dp2,lzz3tud,lzz0m22,lzyzbv8,lzyi596,lzybcds,lzxx539,lzxiyqj,lzxni8y,lzxwxer,lzwhlfw,lzy0ubn,lzxjjz7,lzxo4cs,lzy3l4s,lzxg5k6,lzymy1w,lzx2iql,lzyo099,lzykfxp,lzydegd,lzyxsyp,lzyplnw,lzyu3xo,lzxzl8[...]
[...]
