---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&username=fpsvogel&password=stubbed_reddit_password
    headers:
      Authorization:
      - Basic Ukpwcjc0Zjl6TFBXQzNjcUVCLXFsdzpGQm5kLWdnR2JrWF9na1RRVVIxV2hGeFo1emRRNkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant"}'
  recorded_at: Sat, 08 Mar 2025 23:06:31 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/adventofcode/comments/k4e4lm/2020_day_1_solutions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '15'
      x-ratelimit-remaining:
      - '85.0'
      x-ratelimit-reset:
      - '208'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "adventofcode", "selftext": "It''s been one heck of a crappy
        year, so let''s make the holidays bright with Advent of Code 2020! If you
        participated in a previous year, welcome back, and if you''re new this year,
        we hope you have fun and learn lots!\n\nWe''re following the same general
        format as previous years'' megathreads, so make sure to read the full description
        in the wiki ([How Do the Daily Megathreads Work?](https://www.reddit.com/r/adventofcode/wiki/index#wiki_how_do_the_dail[...]
[...]
- request:
    method: post
    uri: https://oauth.reddit.com/api/morechildren.json
    body:
      encoding: UTF-8
      string: link_id=t3_k4e4lm&children=gednq6d,gedn6ai,ged959m,gedmx6c,gedl7y0,gecoa0z,geco79q,gedle57,gedjo2d,ged616q,ged4hhm,gec5osj,gebx1yf,gecibnq,geck8u2,gecyms2,gectazu,ged8jld,ged2syd,gecjat6,gecq4io,ged4e5g,geby48b,gebrkuf,gec1oxq,gebidqz,gebt73a,gecbbcr,gec8bw1,gecelbl,gecjm46,gec5h0g,gecca7r,gec6ysm,gecd75d,ged6aaq,gecoya2,gec1vl4,gec4rjz,gec2gg5,gebx4pn,gec65da,gebx9gq[...]
