---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&username=fpsvogel&password=stubbed_reddit_password
    headers:
      Authorization:
      - Basic Ukpwcjc0Zjl6TFBXQzNjcUVCLXFsdzpGQm5kLWdnR2JrWF9na1RRVVIxV2hGeFo1emRRNkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant"}'
  recorded_at: Sat, 08 Mar 2025 23:06:42 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/adventofcode/comments/e4axxe/2019_day_1_solutions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '29'
      x-ratelimit-remaining:
      - '71.0'
      x-ratelimit-reset:
      - '197'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "adventofcode", "selftext": "It''s the most wonderful time
        of year and welcome to Advent of Code 2019! If you participated in a previous
        year, welcome back, and if you''re new this year, we hope you have fun and
        learn lots!\n\nWe''re going to follow the same general format as previous
        years'' megathreads with several big changes:\n\n1. Each day''s puzzle will
        release at exactly midnight EST (UTC -5).\n1. The daily megathread for each
        day will be posted very soon afterwards a[...]
[...]
- request:
    method: post
    uri: https://oauth.reddit.com/api/morechildren.json
    body:
      encoding: UTF-8
      string: link_id=t3_e4axxe&children=f9eg9ka,f9efrvr,f9eermi,f9eeedl,f9eegtn,f9e2bqc,f9eekny,f9e9pw0,f9eawlr,f9ecpup,f9e9tzf,f9e95u8,f9cp8mc,f9e1sk0,f9dtlzm,f9e9ua1,f9e4482,f9e4b15,f9dmskw,f9e24jv,f9dunbd,f9e9xm0,f9e7v2y,f9bn9zl,f9e8ys9,f9d6u94,f9cln1y,f9cne42,f9d8gmb,f9dg3fh,f9bjvy2,f9dkh16,f9dyd7m,f9d7t9r,f9dywlq,f9dofwf,f9e30z9,f9e00mx,f9agoy2,f9d3gbd,f9dcddm,f9cju7c,f9db9ap[...]
[...]
