---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&username=fpsvogel&password=stubbed_reddit_password
    headers:
      Authorization:
      - Basic Ukpwcjc0Zjl6TFBXQzNjcUVCLXFsdzpGQm5kLWdnR2JrWF9na1RRVVIxV2hGeFo1emRRNkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant"}'
  recorded_at: Sat, 08 Mar 2025 23:21:32 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/adventofcode/comments/a20646/2018_day_1_solutions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '6'
      x-ratelimit-remaining:
      - '94.0'
      x-ratelimit-reset:
      - '507'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "adventofcode", "selftext": "Welcome to Advent of Code
        2018!  If you participated in a previous year, welcome back, and if you''re
        new this year, we hope you have fun and learn lots!\n\nWe''re going to follow
        the same general format as previous years'' megathreads:\n\n1. Each day''s
        puzzle will release at exactly midnight EST (UTC -5).\n1. The daily megathread
        for each day will be posted very soon afterwards and immediately locked.\n
        * We know we can''t control people postin[...]
[...]
- request:
    method: post
    uri: https://oauth.reddit.com/api/morechildren.json
    body:
      encoding: UTF-8
      string: link_id=t3_a20646&children=eau65h2,eau60qe,eau874a,eau6859,eau7hwh,eau73lc,eaucq13,eaua7d7,eau8n6a,eau6n11,eau6171,eau5vkn,eau866p,eau7zjt,eauixdp,eau7m1y,eaudut4,eaufze2,eaudrdp,eaue3dj,eauaetp,eauh3pn,eau91oo,eau6rj9,eau810z,eau8l2r,eaubeas,eausevj,eau5x8v,eau8s6f,eaufn6h,eauqwrn,eauv9xr,eau85sd,eaun10g,ebi3k6f,eaujyw2,eayexvu,eau9dbw,eauhusu,eaujx6k,eauh689,eauul84[...]
