---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&username=fpsvogel&password=stubbed_reddit_password
    headers:
      Authorization:
      - Basic Ukpwcjc0Zjl6TFBXQzNjcUVCLXFsdzpGQm5kLWdnR2JrWF9na1RRVVIxV2hGeFo1emRRNkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant"}'
  recorded_at: Sat, 08 Mar 2025 23:31:40 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/adventofcode/comments/7gsrc2/2017_day_1_solutions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '1'
      x-ratelimit-remaining:
      - '99.0'
      x-ratelimit-reset:
      - '498'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "adventofcode", "selftext": "Welcome to Advent of Code
        2017!  If you participated in a previous year, welcome back, and if you''re
        new this year, we hope you have fun and learn lots!\n\nWe''re going to follow
        the same general format as previous years'' megathreads:\n\n1. Each day''s
        puzzle will release at exactly midnight EST (UTC -5).\n1. The daily megathread
        for each day will be posted very soon afterwards and immediately locked.\n
        * We know we can''t control people postin[...]
[...]
- request:
    method: post
    uri: https://oauth.reddit.com/api/morechildren.json
    body:
      encoding: UTF-8
      string: link_id=t3_7gsrc2&children=dqlxfsp,dqm0jzw,dqm0i1n,dqm1jkf,dqm2zyl,dqm234a,dqmgsow,dqm3uhl,dqm2xte,dqm310w,dqm3064,dqm3wv1,dqmces1,dqmlp3f,dqmlnbk,dqm7qi2,dqm8t5g,dqmbg3h,dqn5sjb,dqm5mhw,dqmll53,dqm6cdn,dqm4k1y,dqm5mbx,dqm9j6r,dqn1aic,dqmtv49,dqr6z85,dr4tpe2,dqmon78,dqmoeah,dqm8bhe,dqzjsgr,dqn57aa,dqmo8ua,dqmrkzk,dqmt7eb,dqn8utz,dqs1lsx,dqmltc1,dqmjy41,dqnshbh,dqrgjld,dqmjq3g,dqzz643,dqmejhc,dqm6280,dqmnfxq,dqm78zr,dqn7hlu,dqmkj5n,dqmx1l1,dr4bs2g,dqmuq52,dqnkfwg,dqm8qej,dqnmp63,dqn45w7,dqmp74a,dqn37ua,dqn4cpa,dr9lncu,dri9xke,dqn63xn,dqmmklp,dqqrdjb,dqpei0i,dr4ccs5,dqz3pov,dr3xs89,dqmursa,dvqp9wk,dqmpaqa,dqmx4ln,dqnvcnm,dqmarwl,dqntmz7,dr9merj,dqvh60w,dr1etc1,dqo2kpr,dqlhk8u,dqnqn7e,dqn0zzb,drletsg,dqo0jox,dqlhfrh,dqlhiuu,dqn4guo,dqlhxlw,dqoafnq,dqlh3a0,dqoa5ju,dqlh01y,dqlhrwa,dqlgu6o,dqlgurs,dr9lqpa
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '2'
      x-ratelimit-remaining:
      - '98.0'
      x-ratelimit-reset:
      - '496'
    body:
      encoding: UTF-8
      string: '{"jquery": [[0, 1, "call", ["body"]], [1, 2, "attr", "find"], [2, 3,
        "call", [".status"]], [3, 4, "attr", "hide"], [4, 5, "call", []], [5, 6, "attr",
        "html"], [6, 7, "call", [""]], [7, 8, "attr", "end"], [8, 9, "call", []],
        [0, 10, "attr", "insert_things"], [10, 11, "call", [[{"kind": "t1", "data":
        {"subreddit_id": "t5_3b3wa", "approved_at_utc": null, "author_is_blocked":
        false, "comment_type": null, "edited": false, "mod_reason_by": null, "banned_by":
        null, "ups": 1, "num_reports": null, "author_flair_type": "text", "total_awards_received":
        0, "subreddit": "adventofcode", "author_flair_template_id": null, "likes":
        null, "replies": "", "user_reports": [], "saved": false, "id": "dqm0i1n",
        "banned_at_utc": null, "mod_reason_title": null, "gilded": 0, "archived":
        true, "collapsed_reason_code": null, "no_follow": true, "author": "doniec",
        "can_mod_post": false, "created_utc": 1512142000.0, "send_replies": true,
        "parent_id": "t3_7gsrc2", "score": 1, "author_fullname": "t2_glz69", "report_reasons":
        null, "approved_by": null, "all_awardings": [], "collapsed": false, "body":
        "Rust solutions with iterators\n\n    const INPUT: &amp;str = \"2175234281493376693817212167497687911136241765326152235785581689365646244916837735928524481848972386998786124791228972957929669168476114354495699158394221523656896187585175585497794614717874646467522769914992522722713755747976994856978888439937982111138253672269957575947447327393975634899271466796359618976573474316948959912577144334819338356615984359354113474939256986548157835982584439445417321985791934934144[...]
[...]
