---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&username=fpsvogel&password=stubbed_reddit_password
    headers:
      Authorization:
      - Basic Ukpwcjc0Zjl6TFBXQzNjcUVCLXFsdzpGQm5kLWdnR2JrWF9na1RRVVIxV2hGeFo1emRRNkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant"}'
  recorded_at: Sat, 08 Mar 2025 22:29:13 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/adventofcode/comments/r66vow/2021_day_1_solutions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '57'
      x-ratelimit-remaining:
      - '43.0'
      x-ratelimit-reset:
      - '45'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "adventofcode", "selftext": "If you participated in a previous
        year, welcome back, and if you''re new this year, we hope you have fun and
        learn lots!\n\nWe''re following the same general format as previous years''
        megathreads, so make sure to read the full description in the wiki ([How Do
        the Daily Megathreads Work?](https://www.reddit.com/r/adventofcode/wiki/index#wiki_how_do_the_daily_megathreads_work.3F))
        before you post!  Make sure to mention somewhere in your post which languag[...]
[...]
- request:
    method: post
    uri: https://oauth.reddit.com/api/morechildren.json
    body:
      encoding: UTF-8
      string: link_id=t3_r66vow&children=hmygsqt,hmyfdr9,hmyb5l7,hmy9wj9,hmyb7om,hmy8v67,hmy32s1,hmy98ot,hmy9ke6,hmxsojx,hmx8h5l,hmxgs6y,hmxm0oa,hmy215d,hmxeos6,hmwx4lt,hmy90co,hmxzdlr,hmy5y2j,hmx9ay3,hmxoenc,hmwkskt,hmwtvis,hmwb2ra,hmx4u0j,hmwegvt,hmxf61e,hmwwi7l,hmxrx3s,hmwtwoc,hmwg4mh,hmvg97r,hmwnrhk,hmxa298,hmy3con,hmx7741,hmxdpt3,hmwxwzb,hmwtvl7,hmw3zoj,hmw8zxm,hmxn3xv,hmxer2i[...]
[...]
