---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&username=fpsvogel&password=stubbed_reddit_password
    headers:
      Authorization:
      - Basic Ukpwcjc0Zjl6TFBXQzNjcUVCLXFsdzpGQm5kLWdnR2JrWF9na1RRVVIxV2hGeFo1emRRNkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant"}'
  recorded_at: Sun, 09 Mar 2025 05:15:30 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/adventofcode/comments/5fur6q/2016_day_1_solutions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '34'
      x-ratelimit-remaining:
      - '66.0'
      x-ratelimit-reset:
      - '269'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "adventofcode", "selftext": "Welcome to Advent of Code
        2016!  If you participated last year, welcome back, and if you''re new this
        year, we hope you have fun and learn lots!\n\nWe''re going to follow the same
        general format as last year''s AoC megathreads:\n\n1. Each day''s puzzle will
        release at exactly midnight EST (UTC -5).\n1. The daily megathread for each
        day will be posted very soon afterwards and immediately locked.\n * We know
        we can''t control people posting solutio[...]
