---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&username=fpsvogel&password=stubbed_reddit_password
    headers:
      Authorization:
      - Basic Ukpwcjc0Zjl6TFBXQzNjcUVCLXFsdzpGQm5kLWdnR2JrWF9na1RRVVIxV2hGeFo1emRRNkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant"}'
  recorded_at: Sun, 09 Mar 2025 05:15:31 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/adventofcode/comments/3v3w2f/day_2_solutions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '35'
      x-ratelimit-remaining:
      - '65.0'
      x-ratelimit-reset:
      - '268'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "adventofcode", "selftext": "Hi!\nI would like to structure
        posts like the [first one](https://www.reddit.com/r/programming/comments/3uyl7s/daily_programming_puzzles_at_advent_of_code/
        ) in r/programming, please post solutions in comments.", "user_reports": [],
        "saved": false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title":
        "Day 2 solutions", "link_flair_richtext": [], "subreddit_name_prefixed": "r/adventofcode",
        "hidden": false, "pwls": 6, "link_flair_css_class": "flair-spoilers", "downs":
        0, "top_awarded_type": null, "hide_score": false, "name": "t3_3v3w2f", "quarantine":
        false, "link_flair_text_color": null, "upvote_ratio": 0.86, "author_flair_background_color":
        null, "subreddit_type": "public", "ups": 14, "total_awards_received": 0, "media_embed":
        {}, "author_flair_template_id": null, "is_original_content": false, "author_fullname":
        "t2_6nadw", "secure_media": null, "is_reddit_media_domain": false, "is_meta":
        false, "category": null, "secure_media_embed": {}, "link_flair_text": "Spoilers",
        "can_mod_post": false, "score": 14, "approved_by": null, "is_created_from_ads_ui":
        false, "author_premium": false, "thumbnail": "", "edited": false, "author_flair_css_class":
        null, "author_flair_richtext": [], "gildings": {}, "content_categories": null,
        "is_self": true, "mod_note": null, "created": 1449036201.0, "link_flair_type":
        "text", "wls": 6, "removed_by_category": null, "banned_by": null, "author_flair_type":
        "text", "domain": "self.adventofcode", "allow_live_comments": false, "selftext_html":
        "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Hi!\nI would like to
        structure posts like the &lt;a href=\"https://www.reddit.com/r/programming/comments/3uyl7s/daily_programming_puzzles_at_advent_of_code/\"&gt;first
        one&lt;/a&gt; in &lt;a href=\"/r/programming\"&gt;r/programming&lt;/a&gt;,
        please post solutions in comments.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
        "likes": null, "suggested_sort": null, "banned_at_utc": null, "view_count":
        null, "archived": true, "no_follow": false, "is_crosspostable": false, "pinned":
        false, "over_18": false, "all_awardings": [], "awarders": [], "media_only":
        false, "can_gild": false, "spoiler": false, "locked": false, "author_flair_text":
        null, "treatment_tags": [], "visited": false, "removed_by": null, "num_reports":
        null, "distinguished": null, "subreddit_id": "t5_3b3wa", "author_is_blocked":
        false, "mod_reason_by": null, "removal_reason": null, "link_flair_background_color":
        null, "id": "3v3w2f", "is_robot_indexable": true, "num_duplicates": 0, "report_reasons":
        null, "author": "taliriktug", "discussion_type": null, "num_comments": 163,
        "send_replies": true, "media": null, "contest_mode": false, "author_patreon_flair":
        false, "author_flair_text_color": null, "permalink": "/r/adventofcode/comments/3v3w2f/day_2_solutions/",
        "stickied": false, "url": "https://www.reddit.com/r/adventofcode/comments/3v3w2f/day_2_solutions/",
        "subreddit_subscribers": 131310, "created_utc": 1449036201.0, "num_crossposts":
        0, "mod_reports": [], "is_video": false}}], "before": null}}, {"kind": "Listing",
        "data": {"after": null, "dist": null, "modhash": "", "geo_filter": "", "children":
        [{"kind": "t1", "data": {"subreddit_id": "t5_3b3wa", "approved_at_utc": null,
        "author_is_blocked": false, "comment_type": null, "awarders": [], "mod_reason_by":
        null, "banned_by": null, "author_flair_type": "text", "total_awards_received":
        0, "subreddit": "adventofcode", "author_flair_template_id": null, "likes":
        null, "replies": "", "user_reports": [], "saved": false, "id": "cxk6xmg",
        "banned_at_utc": null, "mod_reason_title": null, "gilded": 0, "archived":
        true, "collapsed_reason_code": null, "no_follow": false, "author": "markz440",
        "can_mod_post": false, "created_utc": 1449044078.0, "send_replies": true,
        "parent_id": "t3_3v3w2f", "score": 12, "author_fullname": "t2_sm0pp", "approved_by":
        null, "mod_note": null, "all_awardings": [], "collapsed": false, "body": "And
        how about Linux one-liners\n\n**Area**\n\n    awk -F \"x\" \\\n        ''{
        a[1]=$1;a[2]=$2;a[3]=$3; asort(a,s); area += 2*s[1]*s[2] + 2*s[1]*s[3] + 2*s[2]*s[3]
        + s[1]*s[2]  } \\\n        END { print area }'' day2.dat\n\n\n**Ribbon**\n    \n    awk
        -F \"x\" \\\n        ''{ a[1]=$1;a[2]=$2;a[3]=$3; asort(a,s); ribbon += 2*s[1]+2*s[2]
        + s[1]*s[2]*s[3] } \\\n        END { print ribbon }'' day2.dat", "edited":
        1449044330.0, "top_awarded_type": null, "author_flair_css_class": null, "name":
        "t1_cxk6xmg", "is_submitter": false, "downs": 0, "author_flair_richtext":
        [], "author_patreon_flair": false, "body_html": "&lt;div class=\"md\"&gt;&lt;p&gt;And
        how about Linux one-liners&lt;/p&gt;\n\n&lt;p&gt;&lt;strong&gt;Area&lt;/strong&gt;&lt;/p&gt;\n\n&lt;pre&gt;&lt;code&gt;awk
        -F &amp;quot;x&amp;quot; \\\n    &amp;#39;{ a[1]=$1;a[2]=$2;a[3]=$3; asort(a,s);
        area += 2*s[1]*s[2] + 2*s[1]*s[3] + 2*s[2]*s[3] + s[1]*s[2]  } \\\n    END
        { print area }&amp;#39; day2.dat\n&lt;/code&gt;&lt;/pre&gt;\n\n&lt;p&gt;&lt;strong&gt;Ribbon&lt;/strong&gt;&lt;/p&gt;\n\n&lt;pre&gt;&lt;code&gt;awk
        -F &amp;quot;x&amp;quot; \\\n    &amp;#39;{ a[1]=$1;a[2]=$2;a[3]=$3; asort(a,s);
        ribbon += 2*s[1]+2*s[2] + s[1]*s[2]*s[3] } \\\n    END { print ribbon }&amp;#39;
        day2.dat\n&lt;/code&gt;&lt;/pre&gt;\n&lt;/div&gt;", "removal_reason": null,
        "collapsed_reason": null, "distinguished": null, "associated_award": null,
        "stickied": false, "author_premium": false, "can_gild": false, "gildings":
        {}, "unrepliable_reason": null, "author_flair_text_color": null, "score_hidden":
        false, "permalink": "/r/adventofcode/comments/3v3w2f/day_2_solutions/cxk6xmg/",
        "subreddit_type": "public", "locked": false, "report_reasons": null, "created":
        1449044078.0, "author_flair_text": null, "treatment_tags": [], "link_id":
        "t3_3v3w2f", "subreddit_name_prefixed": "r/adventofcode", "controversiality":
        0, "depth": 0, "author_flair_background_color": null, "collapsed_because_crowd_control":
        null, "mod_reports": [], "num_reports": null, "ups": 12}}, {"kind": "t1",
        "data": {"subreddit_id": "t5_3b3wa", "approved_at_utc": null, "author_is_blocked":
        false, "comment_type": null, "awarders": [], "mod_reason_by": null, "banned_by":
        null, "author_flair_type": "text", "total_awards_received": 0, "subreddit":
        "adventofcode", "author_flair_template_id": null, "likes": null, "replies":
        {"kind": "Listing", "data": {"after": null, "dist": null, "mo[...]
