---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=password&username=fpsvogel&password=stubbed_reddit_password
    headers:
      Authorization:
      - Basic Ukpwcjc0Zjl6TFBXQzNjcUVCLXFsdzpGQm5kLWdnR2JrWF9na1RRVVIxV2hGeFo1emRRNkE=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error": "invalid_grant"}'
  recorded_at: Sat, 08 Mar 2025 22:24:32 GMT
- request:
    method: get
    uri: https://oauth.reddit.com/r/adventofcode/comments/z9ezjb/2022_day_1_solutions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-ratelimit-used:
      - '31'
      x-ratelimit-remaining:
      - '69.0'
      x-ratelimit-reset:
      - '327'
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"after": null, "dist": 1, "modhash":
        "", "geo_filter": "", "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "adventofcode", "selftext": "To steal a song from [Olaf](https://static.wikia.nocookie.net/disney/images/5/53/Profile_-_Olaf.jpeg):\n\n&gt;
        Oh, happy, merry, muletide barrels, faithful glass of cheer  \n&gt; Thanks
        for sharing what you do  \n&gt; At that time of year  \n&gt; Thank you!\n\nIf
        you participated in a previous year, welcome back, and if you''re new this
        year, we hope you have fun and learn lots!\n\nAs always, we''re following
        the same general format as previous years'' m[...]
[...]
- request:
    method: post
    uri: https://oauth.reddit.com/api/morechildren.json
    body:
      encoding: UTF-8
      string: link_id=t3_z9ezjb&children=iyndflq,iyna5us,iyml7p5,iynmvck,iymm9y8,iymtg1y,iymoetz,iymfr3k,iym1oim,iyndnm7,iyn5own,iym0xxj,iylw4iq,iymrn28,iymeok0,iylvtwj,iykty7b,iylbokf,iylyrfw,iylrdmd,iylpn1h,iynanji,iylrzr2,iykxc31,iymnxs4,iyloqpg,iylkrc2,iylrl58,iylt0c2,iylv8l4,iylldan,iylr8nj,iyllxtz,iylruwg,iylvnvr,iykcpbh,iykih4i,iyl15he,iyjxybu,iyls2ng,iylsah5,iykw82v,iyl7t9c[...]
[...]
